<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">
    <div sec:authorize="isAuthenticated()">
        <form id="logoutForm" method="POST" th:action="@{/logout}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>

        <h2>Welcome <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>
    </div>
    home page --
    
    
    
       <div sec:authorize="isAuthenticated()">
           Text visible only to authenticated users.
           <div sec:authorize="hasRole('USER')">Text visible to user.</div>
       <div sec:authorize="hasRole('ADMIN')">Text visible to admin.</div>
       
       Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>ddddddddddddddd
       </div>
       
</div>


</body>
</html>