<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<body>
<div id="page" layout:fragment="content">

	<div class="container my-2">
	<h1>Laptops List</h1>
	
	<a th:href = "@{/showNewLaptopForm}" class="btn btn-primary btn-sm mb-3"> Add Laptop </a>
	
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						<a th:href="@{'/page/' + ${currentPage} + '?sortField=type&sortDir=' + ${reverseSortDir}}">
							Laptop Type</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=size&sortDir=' + ${reverseSortDir}}">
							Laptop Size</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentPage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
							Laptop Price</a>
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="laptop : ${listLaptops}">
					<td th:text="${laptop.type}"></td>
					<td th:text="${laptop.size}"></td>
					<td th:text="${laptop.price}"></td>
					<td> <a th:href="@{/showFormForUpdate/{id}(id=${laptop.laptopId})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteLaptop/{id}(id=${laptop.laptopId})}" class="btn btn-danger">Delete</a>
					   
				<form action="#" th:action="@{/orderLaptop/{laptopId}(laptopId=${laptop.laptopId})}" method="POST">
				
				<input type="hidden" th:field="${laptop.type}"
				placeholder="Laptop Type" class="form-control mb-4 col-4">
				
				<input type="hidden" th:field="${laptop.size}"
				placeholder="Laptop Size" class="form-control mb-4 col-4">
				
				<input type="hidden" th:field="${laptop.price}"
				placeholder="Laptop Price" class="form-control mb-4 col-4">
			
					<select class="form-select" aria-label="Default select example" name="quantity">
					  <option selected>Open this select menu</option>
					  <option value="1">One</option>
					  <option value="2">Two</option>
					  <option value="3">Three</option>
					</select>
					<button type="submit" class="btn btn-info "> Order Laptops</button>
					</form>
					   
					</td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>
				
				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>